name: goreleaser

on:
  push:
    tags:
      - v0**
      - v1**
  workflow_dispatch:

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Fetch all tags
        run: git fetch --force --tags
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"
      - name: check release env vars
        run: |
          echo "GITHUB_TOKEN: ${GITHUB_TOKEN:0:5}*****"
          echo "HOMEBREW_TAP_GITHUB_TOKEN: ${HOMEBREW_TAP_GITHUB_TOKEN:0:5}*****"
          echo "SCOOP_GITHUB_TOKEN: ${SCOOP_GITHUB_TOKEN:0:5}*****"
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}

